body{
    background-color: lightblue;
}

h1{
    text-align: center;
}

.email-container{
    background-color: white;
    margin: 0 auto;
    border: 4px solid #000;
    max-width: 3oopx;
    min-height: 500px;
}

.email-container ul{
    list-style-type: none;
    line-height: 70px;
}

#email-btn{
    border-radius: 12px;
    padding: 12px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}